//
@import 'partials/_footer.scss';
@import "partials/header";
@import "partials/main_principale";
@import "partials/font";
@import "partials/main_detail";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


